@using sb_admin.web.Helper
@if (CurrentContext.IsLogged())
{
    <a style="margin: 14px;" id="logoutLink" class="btn w3-green">Logout</a>
}
else
{
    <a style="margin: 14px;" href="@Url.Action("Login", "Account")" class="btn w3-green">Login</a>
    
}

<form style="width:100px" id="frmLogout" method="post" action="@Url.Action("Logout","Account")"></form>


    <script>
    // start script logout
    $('#logoutLink').on('click', function () {
        $('#frmLogout').submit();
    });
    // end script logout
    </script>